<!DOCTYPE html>
<html>
<head>
    <title>Pwbox</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/assets/css/dragdrop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/png" href="{{ base_url() }}/assets/images/pwbox_favicon.png" />
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ base_url() }}/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->


    <!-- <script type="text/javascript" src="{{ base_url() }}/assets/js/pages/table_responsive.js"></script>-->
    <!-- /theme JS files -->
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="{{ base_url() }}/assets/js/validaciones.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/validateLogin.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/validateProfile.js"></script>

</head>
<body>

<!-- Main navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ base_url() }}">Pwbox</a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    {% if user is not empty %}
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a href="{{ base_url() }}/dashboard"><i class="icon-home2"></i> Dashboard</a></li>
                <li><a href="{{ base_url() }}/shared"><i class="glyphicon glyphicon-share"></i> Shared</a></li>
                <li><a href="{{ base_url() }}/notifications"><i class="icon-notification2"></i> Notifications</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img id="navProfileImage" src="{{ base_url() }}{{ user['profileImageSrc'] }}" style="border-radius: 50%;" />
                        <span>{{ user['username'] }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a>
                                <i class="glyphicon  glyphicon-cloud"></i>
                                {{ user['storage'] }} / 1GB used
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li><a href="{{ base_url() }}/profile"><i class="glyphicon glyphicon-user"></i> My profile</a></li>

                        <li class="divider"></li>

                        <li><a href="/logout"><i class="icon-switch2"></i> Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
<!-- /main navbar -->


<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">

</div>
<!-- /second navbar -->

<!-- Modal for Email -->
<div class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update '{{ user['email'] }}'</h4>
            </div>
            <div class="modal-body">
                <form id="emailForm" class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label class="control-label col-lg-2">New email</label>
                        <div class="col-lg-10">
                            <input id="newEmail" name="email" type="text" class="form-control" placeholder="new email" value="{{ data['email'] }}">
                            <span id="emailError" style="color: red;" class="text-danger">{{ errors['email'] }}</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Change email <i
                                class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            test
        </div>
    </div>
</div>

<!-- Modal for Password -->
<div class="modal fade" id="passwordModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <form id="passwordForm" class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label class="control-label col-lg-2">New Password</label>
                        <div class="col-lg-10">
                            <input id="newPassword" name="newPassword" type="password" class="form-control" placeholder="password"
                                   value="{{ data['newPassword'] }}">
                            <span id="passwordError" class="text-danger">{{ errors['newPassword'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Confirm Password</label>
                        <div class="col-lg-10">
                            <input id="confirmNewPassword" name="confirmPassword" type="password" class="form-control"
                                   placeholder="confirm password" value="{{ data['confirmPassword'] }}">
                            <span id="confirmPasswordError" class="text-danger">{{ errors['confirmPassword'] }}</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Change password <i
                                class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for New Folder -->
<div class="modal fade" id="folderModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new folder</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label class="control-label col-lg-2">Folder name</label>
                        <div class="col-lg-10">
                            <input id="folder" name="folder" type="text" class="form-control" placeholder="folder name">
                            <span class="text-danger">{{ errors['folder'] }}</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create folder <i
                                class="icon-arrow-right14 position-right"></i>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for upload files -->
<div class="modal fade" id="filesModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New files</h4>
            </div>
            <div class="modal-body">
                <form id="filesForm" class="box" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend>File Upload</legend>
                        <div class="box__input">
                            <input class="box__file" type="file" id="file" name="files[]" class="btn btn-primary" data-multiple-caption="{count} files selected" multiple/>
                            <label for="file"><strong>Click here to choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                            <div id="filedrag" style="display: block;">or drop files here</div>
                        </div>
                        <span id="fileError" style="color: red;" class="text-danger"></span>
                        <button type="submit" class="btn btn-primary">Upload Files <i
                                    class="icon-arrow-right14 position-right"></i>
                        </button>
                    </fieldset>
                    <div class="box__error"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Share Folder -->
<div class="modal fade" id="shareModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share folder</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label class="control-label col-lg-2">User email</label>
                        <div class="col-lg-10">
                            <input name="email" type="text" class="form-control" placeholder="user email" value="{{ data['email'] }}">
                            <span class="text-danger">{{ errors['email'] }}</span>
                            <span class="text-danger">{{ errors['role'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">User role</label>
                        <div class="col-lg-10">
                            <select name="role">
                                <option value="reader">Reader</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="shareDirId" name="shareDirId" />
                    <button type="submit" class="btn btn-primary">Share folder <i
                                class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for confirm delete folder -->
<div class="modal fade" id="deleteDirModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST">
                    <input type="hidden" id="deleteDirId" name="deleteDirId" />
                    <button type="submit" class="btn btn-primary">Delete <i
                                class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for confirm delete account -->
<div class="modal fade" id="deleteAccountModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete my account</h4>
            </div>
            <div class="modal-body">
                <h6>All your information will be permanently removed from our servers. Are you sure?</h6>
                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="deleteAccount" />
                    <button type="submit" class="btn btn-primary">Yes, delete my account <i
                                class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">I don't want to delete</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for verification email -->
<div class="modal fade" id="verificationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email verification</h4>
            </div>
            <div class="modal-body">
                <h5>{{ flash.getMessage('user_register')[0] }}</h5>
                <h5>Email sent, please check it to activate your account.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for rename folder or file -->
<div class="modal fade" id="renameDirModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rename folder/file</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label class="control-label col-lg-2">New folder/file name</label>
                        <div class="col-lg-10">
                            <input type="hidden" id="renameDirId" name="renameDirId" />
                            <input name="dirname" type="text" class="form-control" placeholder="new dir name">
                            <span class="text-danger">{{ errors['folder'] }}</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Rename folder/file <i
                                class="icon-arrow-right14 position-right"></i>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

{% if flash.getMessage('user_verify')[0] is not empty %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ flash.getMessage('user_verify')[0] }}
            </div>
        </div>
    </div>
{% endif %}

{% if user is not empty and user['verified'] == 0 and showVerifyMessage == true %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Please verify your account. Check your email inbox.
                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="sendEmail"/>
                    <button type="submit" class="text-right btn btn-primary"><i class="glyphicon glyphicon-send"></i>  Send email</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% if emailSent %}
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Email sent to your email address. Check your inbox.
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    {% block content %}{% endblock %}
    {% block footer_scripts %}
        <script type="text/javascript">

            var filesDropped = 0;


            //Drag and drop js
            var isAdvancedUpload = function() {
                var div = document.createElement('div');
                return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
            }();

            var $filedrag = $('#filedrag');

            var $boxError = $('.box__error');

            if (isAdvancedUpload) {
                var droppedFiles = false;

                $filedrag.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                })
                    .on('dragover dragenter', function() {
                        $filedrag.addClass('is-dragover');
                    })
                    .on('dragleave dragend drop', function() {
                        $filedrag.removeClass('is-dragover');
                    })
                    .on('drop', function(e) {
                        filesDropped = 1;
                        $boxError.hide();
                        droppedFiles = e.originalEvent.dataTransfer.files;
                        showFiles( droppedFiles );
                    });


            }

            var $form = $('#filesForm');

            var $input    = $form.find('input[type="file"]'),
                $label    = $form.find('label'),
                showFiles = function(files) {
                    $label.text(files.length > 1 ? ($input.attr('data-multiple-caption') || '').replace( '{count}', files.length ) : files[ 0 ].name);
                };

            $input.on('change', function(e) { // when drag & drop is NOT supported
                filesDropped = 1;
                $boxError.hide();
                showFiles($('#file')[0].files);
            });


            $form.on('submit', function(e) {
                if (!filesDropped) {
                    $boxError.html("No files selected.");
                    $boxError.show();
                    return false;
                }

                if (isAdvancedUpload) {
                    e.preventDefault();

                    var ajaxData = new FormData($form.get(0));

                    if (droppedFiles) {
                        $.each( droppedFiles, function(i, file) {
                            ajaxData.append( $input.attr('name'), file );
                        });
                    }

                    $.ajax({
                        url: $form.attr('action'),
                        type: $form.attr('method'),
                        data: ajaxData,
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        statusCode:{
                            500: function(xhr) {
                                $boxError.html(xhr.responseText);
                                $boxError.show();
                            },

                            200: function() {
                                window.location.reload();
                            }
                        }
                    });
                }
            });

            //Modal. Show or not show after an action get or post.
            var activeModal = "{{ activeModal }}";
            if (activeModal !== '') {
                $('#' + activeModal).modal({
                    show: true,
                });
            }
        </script>
    {% endblock %}
</div>
</body>
</html>