{% extends 'base.twig' %}

{% block title %}Upload file{% endblock %}

{% block content %}

    <form action="{{ base_url('/file') }}" enctype="multipart/form-data" method="POST">

        <input type="file" name="files[]" multiple="multiple">

        <input type="submit" value="Upload">

    </form>

{% endblock %}