{% extends "base.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Our services</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Sign up</h2>
                <h5 class="panel-tab-content">or <a href="/login">sign in to your account</a></h5>
            </div>
            <div class="panel-body">
                <form id="register" class="form-horizontal" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-lg-2">Username</label>
                        <div class="col-lg-10">
                            <input id="username" name="username" type="text" class="form-control" placeholder="username" value="{{ data['username'] }}">
                            <span id="errorUser" class="text-danger">{{ errors['username'] }}</span>
                            <span class="text-danger">{{ errors['registeredUser'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Email</label>
                        <div class="col-lg-10">
                            <input id="email" name="email" type="text" class="form-control" placeholder="email" value="{{ data['email'] }}">
                            <span id="errorMail" style="color: red;" class="text-danger">{{ errors['email'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Birthdate</label>
                        <div class="col-lg-10">
                            <input id="birthdate" name="birthdate" type="text" class="form-control" placeholder="example: 31-05-1970" value="{{ data['birthdate'] }}">
                            <span id="errorBirthdate" style="color: red;" class="text-danger">{{ errors['birthdate'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Password</label>
                        <div class="col-lg-10">
                            <input id="password" name="password" type="password" class="form-control" placeholder="password"
                                   value="{{ data['password'] }}">
                            <span id="errorPassword" style="color: red;" class="text-danger">{{ errors['password'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Confirm password</label>
                        <div class="col-lg-10">
                            <input id="confirm" name="confirmPassword" type="password" class="form-control" placeholder="confirm password" value="{{ data['confirmPassword'] }}">
                            <span id="errorValidation" style="color: red;" class="text-danger">{{ errors['confirmPassword'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Profile image</label>
                        <div class="col-lg-10">
                            <img id="profileImage" src="{{ base_url() }}/assets/images/default_avatar.png" style="border-radius: 50%;height:100px;width:100px;margin-bottom:10px;" />
                            <input id="imageUpload" name="files[]" type="file" class="form-control" style="display:none;" multiple="multiple">
                            <input id="uploadFile" type="button" class="text-right btn btn-success" value="Change profile image">
                        </div>
                        <div class="col-lg-10">
                            <span style="color: red;" class="text-danger">{{ profileImageError }}</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="enviar">Sign up <i class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#uploadFile').click(function(){ $('#imageUpload').trigger('click'); });
        $('#profileImage').click(function(){ $('#imageUpload').trigger('click'); });
        function fasterPreview( uploader ) {
            if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]) );
            }
        }

        $("#imageUpload").change(function(){
            fasterPreview( this );
        });
    </script>
{% endblock %}