{% extends "base.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Our services</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">Sign in</h2>
                <h5 class="panel-tab-content">or <a href="/">sign up to your account</a></h5>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" method="POST" id="login">
                    <div class="form-group">
                        <label class="control-label col-lg-2">Email or username</label>
                        <div class="col-lg-10">
                            <input id="email" name="email" type="text" class="form-control" placeholder="email or username" value="{{ data['email'] }}">
                            <span id="errorMail" style="color: red;" class="text-danger">{{ errors['email'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Password</label>
                        <div class="col-lg-10">
                            <input id="password" name="password" type="password" class="form-control" placeholder="password" value="{{ data['password'] }}">
                            <span id="errorPassword" style="color: red;" class="text-danger">{{ errors['password'] }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="text-danger">{{ errors['usernoexist'] }}</span>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign in <i class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    {{ parent() }}
{% endblock %}