{% extends "base.html.twig" %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon-notification2"></i> Notifications
                </h2>
            </div>

            <div class="table-responsive">
                <table class="table text-nowrap table-striped">
                    <thead>
                    <tr>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody id="dirList">
                    {% for notification in notifications %}
                        <tr>
                            <td>

                                <div class="media-body media-middle">
                                    {{ notification['message'] }}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}