{% extends "base.html.twig" %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="glyphicon glyphicon-user"></i> Profile</h2>
            </div>

            <div class="table-responsive">
                <table class="table text-nowrap">
                    <tbody>
                    <tr>
                        <td class="col-md-3">
                            <label>Profile image</label>
                        </td>
                        <td class="text-right col-md-4">
                            <span name="profileImage"><img id="profileImage" src="{{ base_url() }}{{ user['profileImageSrc'] }}" style="border-radius: 50%;height:100px;width:100px;margin-bottom:10px;" /></span>
                        </td>
                        <td class="col-md-5">
                            <div class="media-body">
                                <input type="file" name="files[]" id="upfile" style="display:none;" multiple="multiple">
                                <button type="submit" class="text-right btn btn-primary" data-toggle="modal"
                                        data-target="#filesModal">Change profile image</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">
                            <label>Username</label>
                        </td>
                        <td class="text-right col-md-4">
                            <span name="username">{{ user['username'] }}</span>
                        </td>
                        <td class="col-md-5">

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">
                            <label>Email</label>
                        </td>
                        <td class="text-right col-md-4">
                            <span id="userEmail" name="email">{{ user['email'] }}</span>
                        </td>
                        <td class="col-md-5">
                            <button type="submit" class="text-right btn btn-primary" data-toggle="modal"
                                    data-target="#emailModal">Edit <i class="glyphicon glyphicon-pencil"></i></button>
                        </td>

                    </tr>
                    <tr>
                        <td class="col-md-3">
                            <label>Birthdate</label>
                        </td>
                        <td class="text-right col-md-4">
                            <span name="birthdate">{{ user['birthdate'] }}</span>
                        </td>
                        <td class="col-md-5">

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">
                            <label>Password</label>
                        </td>
                        <td class="text-right col-md-4">
                            <span name="description">******</span>
                        </td>
                        <td class="col-md-5">
                            <button type="submit" class="text-right btn btn-primary" data-toggle="modal" data-target="#passwordModal">Edit <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">
                            <label>Delete account</label>
                        </td>
                        <td class="text-right col-md-4">
                            <span name="description">All your information will be removed</span>
                        </td>
                        <td class="col-md-5">
                            <button type="submit" class="text-right btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">Delete my account <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_scripts %}
    {{ parent() }}
    <script type="text/javascript">

        function doAjax(form, errorId, newDataId) {

            var ajaxData = new FormData(form.get(0));

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: ajaxData,
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                statusCode:{
                    500: function(xhr) {
                        var obj = JSON.parse(xhr.responseText);

                        var i = 0;
                        $.each(obj, function(key,value){
                            $(errorId[i]).html(value);
                            i++;
                        });
                    },

                    200: function(disableModal) {
                        //Hide the modal if information has been updated
                        $('#' + disableModal).modal('hide');

                        if (newDataId !== null) {
                            $(newDataId).html($('#newEmail').val());
                        }

                        if (newDataId == "#newImage") {
                            $(newDataId).html($('#newEmail').val());
                        }
                    }
                }
            });
        }

        var $emailForm = $('#emailForm');

        $emailForm.on('submit', function(e) {
            e.preventDefault();
            errorMail = document.getElementById("emailError");


            errorMail.innerHTML = "";

            var email = document.forms["emailForm"]["newEmail"].value;

            if (!validateEmail(email) || email == "") {
                errorMail.innerHTML = "It must be a valid email.";
                errorMail.style.display = 'block';

            } else {
                doAjax($(this), ["#emailError"], "#userEmail");
            }
        });

        var $passwordForm = $('#passwordForm');

        $passwordForm.on('submit', function(e) {
            e.preventDefault();
            ok = true;
            errorPassword = document.getElementById("passwordError");
            errorConfirmPass = document.getElementById("confirmPasswordError");

            errorPassword.innerHTML = "";
            errorConfirmPass.innerHTML = "";

            var password = document.forms["passwordForm"]["newPassword"].value;
            var confirm = document.forms["passwordForm"]["confirmNewPassword"].value;

            if (!validatePassword(password) || password == "") {
                ok = false;
                errorPassword.innerHTML = "The length of the password must be between 6 and 12 characters and it must contain at least one number and one upper case letter.";
                errorPassword.style.display = 'block';

            }
            if (!revalidatePassword(password, confirm) || confirm == "") {
                ok = false;
                errorConfirmPass.innerHTML = "It must match with the value of the password field.";
                errorConfirmPass.style.display = 'block';

            }
            if (ok) {
                doAjax($(this), ["#passwordError", "#confirmPasswordError"], null);
            }
        });

    </script>
{% endblock %}
