{% extends "base.html.twig" %}

{% block content %}
    <style>
        .panel-title a {
            color: grey;
        }
        .panel-title a:hover {
            text-decoration: underline;
        }
    </style>
    <div class="col-lg-8">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title">
                    {% if isRoot == true %}
                        <i class="glyphicon glyphicon-share"></i> Shared
                    {% elseif isRoot == false %}
                        <i class="glyphicon glyphicon-dashboard"></i> <a href="{{ base_url() }}/shared">Shared</a>
                    {% endif %}
                </h2>
                {% if isRoot == false %}
                    <div class="heading-elements">
                        <a href="javascript:history.go(-1)">Click here to go back</a>
                    </div>
                {% endif %}
            </div>

            <div class="table-responsive">
                <table class="table text-nowrap table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody id="dirList">
                    {% for dir in dirs %}
                        <tr id="{{ dir['id'] }}">
                            <td>
                                <div class="media-left media-middle">
                                    <i class="glyphicon glyphicon-{{ dir['type'] }}"></i>
                                </div>

                                <div class="media-body media-middle">
                                    {{ dir['name'] }}

                                </div>
                            </td>
                            <td class="text-right">
                                {% if dir['type'] == "file" %}
                                    <form class="form-horizontal" method="POST">
                                        <input type="hidden" id="downloadDirId" name="downloadDirId" value="{{ dir['dir_name'] }}"/>
                                        <button type="submit" class="text-right btn btn-primary"><i class="icon-file-download"></i>  Download</button>
                                    </form>
                                {% endif %}
                            </td>
                            {% if dir['isAdmin'] == true or isAdmin == true %}
                                <td class="text-right col-md-2">
                                    <button type="submit" class="text-right btn btn-success" data-toggle="modal"
                                            data-target="#renameDirModal"><i class="glyphicon glyphicon-pencil"></i>  Rename</button>
                                </td>
                                <td class="text-right col-md-2">
                                    <button type="submit" class="text-right btn btn-danger" data-toggle="modal"
                                            data-target="#deleteDirModal"><i class="glyphicon glyphicon-remove"></i>  Remove</button>
                                </td>
                            {% else %}
                            <td class="text-right col-md-2">
                            </td>
                            <td class="text-right col-md-2">
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="glyphicon glyphicon-edit"></i> Actions</h2>
            </div>

            <div class="panel-body">
                <ul class="media-list content-group">
                    {% if isRoot == false and isAdmin == true %}
                        <li class="media stack-media-on-mobile">
                            <div class="media-left media-middle">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </div>
                            <div class="media-body">
                                <button type="submit" class="text-right btn btn-primary" data-toggle="modal"
                                        data-target="#folderModal">New folder</button>
                            </div>
                        </li>
                        <li class="media stack-media-on-mobile">
                            <div class="media-left media-middle">
                                <i class="glyphicon glyphicon-file"></i>
                            </div>
                            <div class="media-body">
                                <button type="submit" class="text-right btn btn-primary" data-toggle="modal" data-target="#filesModal">New files</button>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    {{ parent() }}

    <script type="text/javascript">

        $('tr').dblclick(function(){
            var id = $(this).closest("tr").attr("id");

            if(Math.floor(id) == id && $.isNumeric(id)) {
                //If it is an int, it is the id of a folder
                window.location.href = '/shared/' + $(this).closest("tr").attr("id");
            } else {
                //If not an int, it is a string, the dir_name of the file to see it
                var userId = "{{ user['id'] }}";
                window.location.href = '/userinfo/' + userId + '/' + $(this).closest("tr").attr("id");
            }
        });

        $('tr').click(function(){
            var id = $(this).closest("tr").attr("id");

            $('#deleteDirId').val(id);

            $('#renameDirId').val(id);

            $('tr').each(function(){
                $(this).css('background','');
            });
            $(this).css('background','#8ec252');
        });

        $(document).click(function(event) {
            if(!$(event.target).closest('tr').length) {
                $('tr').each(function(){
                    $(this).css('background','');
                });
            }
        });
    </script>
{% endblock %}