legend
{
    font-weight: bold;
    color: #333;
}

#filedrag
{
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}


img
{
    max-width: 100%;
}

pre
{
    width: 95%;
    height: 8em;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

#messages
{
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid #999;
}

#progress p
{
    display: block;
    width: 240px;
    padding: 2px 5px;
    margin: 2px 0;
    border: 1px inset #446;
    border-radius: 5px;
}

#progress p.success
{
    background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
    background: #c00 none 0 0 no-repeat;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.is-dragover {
    background-color: grey;
}

.is-uploading .box__input{
    visibility: none;
}
.is-uploading .box__uploading {
    display: block;
}

.box__file {
    visibility: hidden;
}

label:hover {
    color: grey;
}